.logo {
  font-family: $secondary-font;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  margin-right: 90px;

  color: #000000;

  &__web {
    color: $active-color;
  }

  &__footer {
    color: #ffffff;
    margin-bottom: 20px;
  }
}
